<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ ) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ ) ? 'over' : 'side'"
    [opened]="!(isHandset$)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    



    <mat-nav-list>
      
      
        <mat-tab-group>

                   <mat-tab label="Accedi">

                        <h2>Accedi</h2>
                        <mat-form-field id="input">
                          <input  matInput placeholder="username"  [(ngModel)]='username' required>
                          </mat-form-field>
                        <br>
                        <mat-form-field id="input">
                          <input type="password"  matInput placeholder="password"  [(ngModel)]='password' required>
                          </mat-form-field>
                          <br>
                          <button (click)="login()" id="x" > LOGIN</button>
                          <button id="casa" (click)="home()">HOME</button>
              

                   </mat-tab>




                <mat-tab label="Registrati">
              
                        <app-form></app-form>
                                
                 </mat-tab>

         </mat-tab-group>

     </mat-nav-list>
      

      
      

    
    

    
    
  </mat-sidenav>
  <mat-sidenav-content>








    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      
      <span>IlMioSito</span>
      
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Male.svg/220px-Male.svg.png">
    
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
