<button id="primo" (click) = recuperaeventi()>CLICCAMI PER LA TABELLA CON NOME E DATA</button>

<div>
<table id="eventi" class="table">
  <thead>
      <tr>
          <th>nome</th>
          <th>data</th>
      </tr>
  </thead>
  
</table>
</div>


<div>
  <button id="secondo" (click) = recuperaeventi2()>CLICCAMI PER LA TABELLA CON TITOLO E TESTATA</button>
  <table id="news" class="table">
    <thead>
        <tr>
            <th>titolo</th>
            <th>testata</th>
        </tr>
    </thead>
    
  </table>
</div>