#primo{
    margin-left: 350px;
    background-color: rgb(250, 250, 250);

}



#secondo{
    margin-left: 350px;
    background-color: rgb(250, 250, 250);
}



table{
    background-color: yellow;
    border: solid;
    
}