<div id="x" class="example-container">
    <h3>Registrati</h3>
    <br>

    <form [formGroup]="mioForm">
      

  <mat-form-field>
    <input id="nome" matInput placeholder="Nome"  formControlName="nome" required>
    
    <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
    class="alert alert-danger">

   <div *ngIf="nome.errors.required">
    <p>Inserisci il nome.</p>
   </div>
   <div *ngIf="nome.errors.minlength">
      <p>Il nome deve avere almeno due caratteri.</p>
   </div>

 </div>
  </mat-form-field>
  


  <mat-form-field>
      <input id="cognome" matInput placeholder="Cognome"  formControlName="cognome" required>
      <div *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)"
    class="alert alert-danger">

   <div *ngIf="cognome.errors.required">
      <p>Inserisci il cognome.</p>
   </div>
   <div *ngIf="cognome.errors.minlength">
      <p>Il cognome deve avere almeno due caratteri.</p>
   </div>

 </div>
    </mat-form-field>
    
    <mat-form-field>
        <input id="email" matInput placeholder="email"  formControlName="email" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert alert-danger">

   <div *ngIf="email.errors.required">
     
      <p>Inserisci la email.</p>
   </div>
   <div *ngIf="email.errors.minlength">
      <p>La emial deve avere almeno due caratteri.</p>

      
   </div>

 </div>
      </mat-form-field>




      <mat-form-field>
         <input id="telefono" matInput placeholder="telefono"  formControlName="telefono" required>
         
         <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
         class="alert alert-danger">
     
        <div *ngIf="telefono.errors.required">
         <p>Inserisci il numero di telefono.</p>
        </div>
        <div *ngIf="telefono.errors.minlength">
           <p>Verificare il numero dei caratteri inseriti.</p>
        </div>
     
      </div>
       </mat-form-field>




      <mat-form-field>
          <input  matInput [matDatepicker]="myDatepicker" type="date" placeholder="Data di Nascita">
          
        </mat-form-field>
        <br>
        <button (click)="messaggio()" id="x">REGISTRATI</button>
        <button id="casa2" (click)="home()">HOME</button>
      
</form>
  
  
</div>